
<%= content_for :page_title,"Orders" %>
<%= render 'navbar/navbar' %>

<div class="container mt-5">

<h2 class="mb-3"> Orders </h2>
<table class="table">
<thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Order</th>
    <th scope="col">Resturants</th>
    <th scope="col">Invited</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody>

  <% @orders.each do |order| %>
    <tr>
      <th scope="row">1</th>
      <td>Breakfast</td>
      <td><%= order.resturant_name %></td>
      <td>10</td>
      <td>waiting...</td>
      <td>
        <input type="button" class="btn btn-outline-success" value="View" />
        <input type="button" class="btn btn-outline-warning" value="Finish" />
        <input type="button" class="btn btn-outline-danger" value="Cancel" />
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
